/* @import "node_modules/video-react/dist/video-react.css"; */

#body {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 8;
}
.cointainer {
    position: relative;
    top: 150px;
    min-height: 500px;
    max-height: 2000px;
    width: 1100px;
    /* height: 10000px; */
    padding-bottom: 0;
    background-color: white;
    /* border: 2px solid #007af4; */
    z-index: -1;
    /* display: flex;
    flex-direction: column; */
    border-radius: 20px;
    overflow: hidden;
}
#box_product {
    /* margin-top: 10px; */
    /* right: 200px; */
    position: relative;

    width: 650px;
    left: 230px;
    /* height: 500px; */
    top: 0;
    padding: 10px;
    /* height: 500px; */
    /* background-color: red; */
    border-radius: 10px;
}
#product {
    border: 2px solid #517da9;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
}
#product:hover {
    background-color: #b5c8d818;
}
#product_name {
    position: relative;
    left: 30px;
    top: 15px;
    max-width: 500px;
    /* background-color: blue; */
    font-size: 24px;
    font-weight: 600;
    color: #517da9;
}
#product_pic {
    position: relative;
    background: url('https://cdn.appliancepartspros.com/images/product/cache/frigidaire-pure-source-3-wf3cb-ap4567491_01_sm.jpg ');
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 200px;
    margin-top: 35px;
    margin-left: 25px;
    border-radius: 10px;
    border: 1px solid #517da9;
}
#content {
    position: relative;
    left: 25px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}
#noidungchitiet {
    /* background-color: red; */
    left: 25px;
    width: 550px;
    font-size: 15px;
    position: relative;
    margin-top: 10px;
    font-weight: 400;
    padding-bottom: 20px;
}
#price {
    position: absolute;
    left: 340px;
    top: 30%;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: baseline;
}
#price_price {
    margin-left: 10px;
    color: #ee4d2d;
    font-weight: 700;
    font-size: 25px;
}

#btn_buy {
    top: 47%;
    width: 150px;
    background-color: #ee4d2d;
    height: 40px;
    border: none;
    left: 360px;
    position: absolute;
    color: white;
    cursor: pointer;
}
#btn_buy:hover {
    background: #ffe3dafb;
    border: 1px solid #ff5722;
    color: #f24320;
}
#btn_trade:hover {
    background: #d8ebff;
    border: 1px solid #517da9;
    color: #517da9;
}

#btn_trade {
    top: 60%;
    width: 150px;
    background-color: #517da9;
    height: 40px;
    border: none;
    left: 360px;
    position: absolute;
    color: white;
    cursor: pointer;
}
/* box_search */
.box_search {
    background-color: #ffede6fb;
    border: 2px solid #ff5722;
    position: relative;
    width: 200px;
    height: 100px;
    top: 10px;
    margin: 2px;
    border-radius: 10px;
}
.box_search_title {
    padding: 10px 0px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ff5722;
    cursor: pointer;
}
.box_search_input {
    position: absolute;
    top: 50px;
    left: 10px;
    height: 30px;
    padding-left: 10px;
    font-size: 14px;
    width: 115px;
    outline: none;
    /* color: #f24320; */
    font-family: 500;
    padding-right: 50px;
    border: 1px solid #ff5722;
    border-radius: 5px;
    z-index: 1;
}
.box_search_icon {
    z-index: 100000;
    position: absolute;
    right: 30px;
    top: 60px;
    color: #ff5722;
    cursor: pointer;
}
.box_search_icon:hover {
    opacity: 0.5;
}
/* taskbar_body */
.taskbar_body {
    /* background-color: red; */

    position: absolute;
    width: 210px;
    height: 500px;
    margin-left: 12px;
}
.sticky {
    position: fixed;
    top: 0;
    /* bottom: 0; */
}
.sticky2 {
    position: absolute;
    /* top: 0; */
    bottom: 130px;
}
.boloc {
    position: relative;
    margin-top: 30px;
    background-color: #dcedff;
    /* height: 400px; */
    /* display: none; */
    border: 2px solid #517da9;
    border-radius: 10px;
}
.boloc_title {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px 0;
}

.bocloc_adress--title,
.bocloc_type--title {
    margin-top: 5px;
    margin-left: 20px;
}
.bocloc_adress,
.boloc_type {
    /* background-color: red; */
    border-bottom: 1px solid #517da9;
    border-top: 1px solid #517da9;
}
.list {
    color: #263b50;
    cursor: pointer;
    /* background-color: red; */
    height: 150px;
    overflow: auto;
    width: 150px;
    font-weight: 600;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}
.list::-webkit-scrollbar {
    width: 5px;
    background-color: #517da9;
    border-radius: 10px;
}
.selecter {
    height: 20px;
}
.selecter:hover {
    transform: scale(0.98);
}
.product_save {
    position: absolute;
    top: 0;
    left: 580px;
    color: #517da9;
    /* background-color: red; */
    font-size: 40px;
}
.product_save:hover {
    color: #ee4d2d;
}
/* listproduct */
.listproduct {
    position: relative;
    width: 180px;
    max-height: 540px;
    /* height: 200px; */
    right: 10px;
    top: 10px;
    background-color: #dcedff;
    /* border-radius: 10px; */
    border-radius: 10px 0 0 10px;
    border: 2px solid #517da9;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.listproduct::-webkit-scrollbar {
    width: 5px;
    background-color: #dcedff;
    border-radius: 50px;
    height: 100px;
}
.listproduct::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: #517da9;
}
.listproduct_title {
    font-weight: 700;
    color: #ee4d2d;
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    border: 1px solid #ee4d2d;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffe3dafb;
    padding: 5px 0px;
}
.listproduct_like {
    /* background-color: red; */
    width: 135;
    /* height: 10px; */
    margin: 20px 10px 20px 10px;
    position: relative;
}
#listproduct_like_select {
    position: relative;
    /* border-bottom: 3px solid #517da9; */
    /* border-left: 3px solid #517da9; */
    /* border-top: 3px solid #517da9; */
    /* border-right: 3px solid #517da9; */
    /* background-color: blue; */
    /* height: 35px; */
    border-radius: 5px;
    padding: 7px 10px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    /* text-overflow: clip; */
    overflow: hidden;
    margin-bottom: 7px;
    cursor: pointer;
}
#listproduct_like_select:hover {
    transform: scale(0.99);
    /* border-bottom: 1px solid #ee4d2d; */
    background-color: #fff5f1;
}
#aaa {
    color: red;
}
.to-top {
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 9;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    /* background-color: red; */
    color: #517da9;
    cursor: pointer;
}
/* more */
.more {
    width: 1100px;
    min-height: 500px;
    position: relative;
    margin-top: 170px;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 40px;
}
.more_title {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding: 20px;
    color: #263b50;
}
.more_video {
    width: 700px;
    height: auto;
    position: relative;
    left: 200px;
    border: 5px solid #517da9;
}
.next-sp {
    position: absolute;
    right: 50px;
    bottom: 20px;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #d8ebff;
    border: 2px solid #517da9;

}
.next-sp:hover {
    cursor: pointer;
    transform: scale(0.97);
}