.boxSingup {
    position: absolute;
    width: 700px;
    height: 550px;
    
    background-color: white;
    border-radius: 10px;
    border: 2px solid #517da9;
    /* box-shadow: 0 0 10px 3px white ; */
}
.singup {
    /* background-color: red; */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    position: absolute;
    color: #111827;
    left: 60px;
    top: 20px;
}
.picSingup {
    position: absolute;
    height: 100%;
    width: 40%;
    background-color: #517da9;
    right: 0;
}
.infoSingup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red;   */
    width: 300px;
    position: absolute;
    top: 120px;
    height: 300px;
    left: 50px;
}
.inputSingup {
 border-radius: 10px;
 height: 40px;
 padding-left: 20px;
 outline: none;
 border: 1px solid #517da9;
 font-size: 15px;
 /* background-color: red; */
}
.infoSingup--notice {
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.btnAcc {
    /* background-color: red; */
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 45px;
    left: 50px;

}
.btnAcc_all{
    width: 140px;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    background-color: #517da9;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s;

}

.btnAcc--login {
    background-color: white;
    color: #517da9;
    border: 1px solid #517da9;
}
.btnAcc--login:hover, .btnAcc--singup:hover {
    transform: scale(0.98);
}
.forgetmk {
    position: absolute;
    bottom: 15px;
    left: 55px;
    cursor: pointer;
    font-weight: 600;
    color: #517da9;
}
.error {
    color: red;
    position: absolute;
    bottom: 103px;
    left:55px;
    font-weight: 600;
    display: block;
}
.warning {
    border: 1px solid red;
    background-color: rgb(251, 238, 238);
}
.picSingup_logo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/394517794_6954486771313240_3684609075480503755_n.png?stp=dst-png_p403x403&_nc_cat=101&ccb=1-7&_nc_sid=510075&_nc_ohc=bCY_Gwui7akAX9DDriT&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQUlrIj2H59_hp-RG-S3i-ByiGQW8zRM2Upiie7I5k29A&oe=6561D2C6');
    background-position: -210px 0px;
    background-size: cover;
}
.inputSingup:focus {
    background-color: #cde6ff;
}
