.bill_cointainer {
    position: relative;
    display: flex;
    width: 1100px;
    height: 1000px;
    flex-direction: column;
    font-family: 'Helvetica Neue', Helvetica, Arial, 文泉驛正黑, 'WenQuanYi Zen Hei', 'Hiragino Sans GB', '儷黑 Pro',
        'LiHei Pro', 'Heiti TC', 微軟正黑體, 'Microsoft JhengHei UI', 'Microsoft JhengHei', sans-serif;
}
.bill_cointainer_all {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bill_cointainer_box {
    position: relative;
    top: 130px;
    min-height: 5px;
    padding-bottom: 10px;
    width: 1100px;
    padding-bottom: 100px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    /* box-shadow: 0 1px 2px 1px #bbbbbb; */
}
.bill_cointainer_box_address {
    height: 20px;
    border-top: 3px solid #517da9;
}
.bill_cointainer_box_address_title {
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0 20px 30px;
    font-family: inherit;

    color: #f24320;
}
.bill_cointainer_box_address_name,
.bill_cointainer_box_address_sdt,
.bill_cointainer_box_address_addr {
    position: absolute;
    font-size: 17px;
    font-weight: 550;
}
.bill_cointainer_box_address_name {
    left: 35px;
    color: #29354e;
}
.bill_cointainer_box_address_sdt {
}
.bill_cointainer_box_address_addr {
    left: 350px;
    font-weight: 500;
}
.bill_cointainer_box_sp_top {
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 80px;
}
.bill_cointainer_box_sp_title {
    position: absolute;
    font-size: 18px;

    margin: 35px 0 10px 40px;
    line-height: 21.6px;
    font-weight: 500;
    font-family: 'Helvetica Neue', Helvetica, Arial, 文泉驛正黑, 'WenQuanYi Zen Hei', 'Hiragino Sans GB', '儷黑 Pro',
        'LiHei Pro', 'Heiti TC', 微軟正黑體, 'Microsoft JhengHei UI', 'Microsoft JhengHei', sans-serif;
}
.bill_cointainer_box_sp_price_title,
.bill_cointainer_box_sp_sl_title,
.bill_cointainer_box_sp_finish_title {
    font-size: 15px;
    color: #bbbbbb;
    position: absolute;
    top: 36px;
}
.bill_cointainer_box_sp_price_title {
    left: 600px;
}
.bill_cointainer_box_sp_sl_title {
    left: 750px;
}
.bill_cointainer_box_sp_finish_title {
    left: 950px;
}
.bill_cointainer_box_sp_shopbox {
    width: 100%;
    height: 40px;
    font-size: 14px;
}
.bill_cointainer_box_sp_shopbox_name {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 30px;
    opacity: 87%;
    left: 10px;
    padding: 3px 12px 3px 3px;
    border-right: 1px solid #bbbbbb;
    cursor: pointer;
}
.bill_cointainer_box_sp_shopbox_chat {
    position: absolute;
    color: #00bfa5;
    left: 150px;
    display: flex;
    align-items: center;
    padding: 3px 6px 3px 3px;
    cursor: pointer;
}
.bill_cointainer_box_sp_productbox {
    width: 100%;
    height: 80px;
    padding: 20px 0;
    color: #222222;
    /* background-color: red; */
}
.bill_cointainer_box_sp_productbox_pic {
    position: absolute;
    background: url('https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lntjm1yaad1684_tn');
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    left: 35px;
}
.bill_cointainer_box_sp_productbox_name {
    position: absolute;
    left: 95px;
    width: 300px;
    height: 20px;
    overflow: hidden;
    font-size: 15.5px;
}
.bill_cointainer_box_sp_productbox_price {
    position: absolute;
    left: 600px;
}
.bill_cointainer_box_sp_productbox_sl {
    position: absolute;
    left: 770px;
}
.bill_cointainer_box_sp_productbox_finish {
    position: absolute;
    left: 950px;
}

.bill_cointainer_box_sp_total {
    width: 100%;
    height: 80px;
    border-top: 1px dashed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 98px 0 0;
    box-sizing: border-box;
    color: #bbbbbb;
    font-size: 15px;
    background-color: #fafdff;
}
.bill_cointainer_box_sp_total_price {
    color: #222222;
}
.bill_cointainer_box_sp {
    padding-bottom: 0;
}
.bill_cointainer_box_sp_send {
    width: 100%;
    height: 100px;
    /* border: 1px solid; */
    background-color: #fafdff;
    border-top: 1px dashed #bbbbbb;
}
.bill_cointainer_box_sp_send_note {
    position: absolute;
    left: 0;
    width: 400px;
    height: 100px;
    border-right: 1px dashed #bbbbbb;
}
.bill_cointainer_box_sp_send_note_title {
    position: absolute;
    margin: 20px 0 0 35px;
    font-size: 14px;
    opacity: 80%;
}
.bill_cointainer_box_sp_send_note_input {
    position: absolute;
    margin: 15px 0 0 110px;
    width: 250px;
    outline: none;
    padding: 8px 0 40px 8px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}
.bill_cointainer_box_sp_send_vanchuyen {
    position: absolute;
    left: 400px;
}
.bill_cointainer_box_sp_send_vanchuyen_title {
    position: absolute;
    color: #00bfa5;
    font-size: 14px;
    left: 50px;
    width: 130px;
    top: 15px;
}
.bill_cointainer_box_sp_send_vanchuyen_nd {
    position: absolute;
    font-size: 14px;
    left: 250px;
    top: 15px;
}
.bill_cointainer_box_sp_send_vanchuyen_time {
    position: absolute;
    font-size: 14px;
    left: 250px;

    top: 40px;
    width: 250px;
    /* background-color: yellow; */
    color: #888888;
}
.bill_cointainer_box_sp_send_vanchuyen_price {
    position: absolute;
    font-size: 14px;
    left: 550px;
    top: 35px;
    width: 150px;
}
.bill_cointainer_box_sp_send_vanchuyen_change {
    position: absolute;
    font-size: 14px;
    left: 250px;
    top: 65px;
    width: 60px;
    color: #0055aa;
    cursor: pointer;
}
.bill_cointainer_box_payment_top {
    height: 90px;
    border-bottom: 1px solid #e6e6e6;
}
.bill_cointainer_box_payment_top_title {
    font-size: 18px;
    position: absolute;
    top: 25px;
    left: 30px;
}
.bill_cointainer_box_payment_top_box {
    position: absolute;
    width: 190px;
    height: 30px;
    left: 250px;
    top: 25px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.bill_cointainer_box_payment_top_box_select {
    border: 1px solid #29354e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    color: #29354e;
}
.active {
    border: 1px solid #ee4d2d;
    color: #ee4d2d;
    background-color: #ffffff;
}
.bill_cointainer_box_payment_total {
    height: 150px;
    /* background-color: red; */
    border-bottom: 1px solid #eaeaea;
}
.bill_cointainer_box_payment_total_select {
    display: flex;
    position: relative;
    width: 250px;
    top: 30px;
    left: 70%;
    margin-bottom: 20px;
    color: #00000090;
    font-size: 13px;
}
.bill_cointainer_box_payment_total_price--nd,
.bill_cointainer_box_payment_total_fee--nd,
.bill_cointainer_box_payment_total_pay--nd {
    position: absolute;
    
    color: black;
    right: 40px;
}
.bill_cointainer_box_payment_total_pay--nd{
    color: #ee4d2d;
    display: flex;
    /* background-color: yellow; */
    font-size: 20px;
}
.bill_cointainer_box_payment_dathang {
    height: 70px;
    padding-bottom: 0;

}
.bill_cointainer_box_payment_dathang--btn {
    position: absolute;
    padding: 10px 20px;
    color: white;
    background-color: #ee4d2d;
    right: 30px;
    margin-top: 10px;
    border: none;
}
.bill_cointainer_box_payment_dathang--note {
    position: absolute;
    left: 20px;
    margin-top: 20px;
    font-size: 14px;
    color: #000000b7;
}
.bill_cointainer_box_voucher {
    margin-top: 100px;
}