.chitiet_cointainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 13;
}

.chitiet_cointainer_box {
    top: 130px;
    position: relative;
    min-height: 600px;
    max-height: 1000px;
    width: 1100px;
    background-color: white;
    z-index: -1;
    border-radius: 20px;
    overflow: hidden;
}

.chitiet_cointainer_box_anh {
    position: absolute;
    left: 10px;
    top: 20px;
    height: 530px;
    width: 450px;
}
.chitiet_cointainer_box_anh_main {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    height: 400px;
    background: url('https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lnpdx11ey2gd58');
    background-position: center;
    background-size: contain;
}
.chitiet_cointainer_box_anh_second {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 110px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    box-sizing: border-box;
}
.chitiet_cointainer_box_anh_second::-webkit-scrollbar {
    width: 0px;
    height: 6px;
}
.chitiet_cointainer_box_anh_second--select {
    position: relative;
    min-width: 100px;
    height: 100%;
    background: url('https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lnpdx114ygze55');
    background-position: center;
    background-size: cover;
    margin-right: 5px;
    /* border-radius: 5px; */
    scroll-snap-align: start;
    box-sizing: border-box;
}
.chitiet_cointainer_box_details {
    position: absolute;
    right: 10px;
    top: 20px;
    height: 530px;
    width: 620px;
}
.chitiet_cointainer_box_details--name {
    max-width: 580px;
    max-height: 110px;
    margin: 10px 0 0 25px;
    overflow: hidden;
    font-family: inherit;
    color: #2c4660;
    font-size: 22px;
    line-height: 24px;
}
.chitiet_cointainer_box_details--price {
    background-color: red;
    font-family: inherit;
    font-weight: 600;
    color: #2c4660;
    font-size: 32px;
    line-height: 24px;
    margin: 20px 0 20px 30px;
    max-width: 500px;
    padding: 20px;
    background-color: #fafafa;
}
.chitiet_cointainer_box_details--state,
.chitiet_cointainer_box_details--address,
.chitiet_cointainer_box_details--type,
.chitiet_cointainer_box_details--protect,
.chitiet_cointainer_box_details--details {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 0px 0 10px 25px;
    font-family: inherit;
    font-size: 17px;
    padding: 5px 0;
}
.chitiet_sate,
.details--address,
.details--type,
.details--protect {
    margin-left: 10px;
    color: #2c4660;
    font-weight: 600;
}
.chitiet_cointainer_box_details--details {
    color: #2c4660;
    font-weight: 600;
    margin-bottom: 3px;
}
.details--details {
    width: 540px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-height:90px ;
    margin-left: 25px;
    overflow-y: auto;
}
.details--details::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
    background-color: #517da9;
}.details--details::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 2px;
    background-color: #fafafa;
}
.details--btn {
    padding: 10px 20px;
    font-family: inherit;
    border-radius: 5px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    position: absolute;
    top: 480px;
    cursor: pointer;
}
.chitiet_cointainer_box_details--btnBuy {
    color: white;
    background-color: #ee4d2d;
    left: 310px;
}
.chitiet_cointainer_box_details--btnOffer {
    color: #2c4660;
    background-color: #d8ebff;
    left: 25px;
}

/* shopuser */

.chitiet_shopuser {
    margin-top: 150px;
    position: relative;
    min-height: 140px;
    max-height: 1000px;
    width: 1100px;
    padding-bottom: 0;
    background-color: white;
    z-index: -1;
    border-radius: 20px;
    overflow: hidden;
}
.chitiet_shopuser_box_pic {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/396115387_818307346963612_2054944215498436842_n.jpg?stp=dst-jpg_s280x280&_nc_cat=103&ccb=1-7&_nc_sid=510075&_nc_ohc=t4wpJxFBwcUAX8wz4E7&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRyyNr20vx2pgp3wfpj9itZzLXHk_fXokS8U9jWcGOkgg&oe=656F400C');
    left: 35px;
    top: 20px;
    background-position: center;
    background-size: cover;
}
.chitiet_shopuser_box_name {
    position: absolute;
    left: 140px;
    font-family: inherit;
    top: 25px;
    font-weight: 600;
    font-size: 17px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.chitiet_shopuser_box_view,
.chitiet_shopuser_box_chat {
    width: 95px;
    padding: 5px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65px;
    font-size: 14px;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.chitiet_shopuser_box_view:hover,
.chitiet_shopuser_box_chat:hover {
    transform: scale(0.99);
    opacity: 0.98;
}
.chitiet_shopuser_box_view {
    /* border: 1px solid #517da9; */
    left: 140px;
    color: #2c4660;
    background-color: #d8ebff;
}
.chitiet_shopuser_box_chat {
    left: 260px;
    /* border: 1px solid #ee4d2d; */
    color: #ee4d2d;
    background-color: #ff562229;
}
.chitiet_shopuser_box {
    width: 440px;
    height: 120px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-right: 1px solid rgb(215, 215, 215);
}
/* comments */
.chitiet_comments {
    margin-top: 20px;
    position: relative;
    min-height: 140px;
    max-height: 800px;
    width: 1100px;
    padding-bottom: 0;
    background-color: white;
    z-index: -1;
    border-radius: 20px;
    overflow: hidden;
}
.chitiet_comments_title {
    /* background-color: red; */
    padding: 20px 0 20px 40px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #d8ebff;
}
.chitiet_comments_comments {
    /* background-color: red; */
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;


}
.chitiet_comments_comments_select {
    width: 100%;
    height: 100px;
    /* background-color: blue; */
    /* border: 1px solid black; */
}