.profile_cointainer {
    display: flex;
    justify-content: center;
}
.profile_cointainer_box {
    width: 1100px;
    min-height: 600px;
    background-color: white;
    position: relative;
    top: 150px;
}
.profile_cointainer_box_user {
    width: 350px;
    height: 500px;
    position: relative;
    /* background-color: red; */
    border: 2px solid #29354e;
    border-radius: 10px;
}
.profile_cointainer_box_user--pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    position: absolute;
    left: 120px;
    top: 60px;

    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT82uKfzowS4dT3mUxcz0q1CKc13HiNCmrpHQ&usqp=CAU');
    background-position: center;
    background-size: cover;
    border: 4px solid #4884ea;
}
.profile_cointainer_box_user--name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 90px;
    top: 20px;
    padding: 0px;
}
.profile_cointainer_box_user--username {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 550;
    position: relative;
    left: 115px;
    top: 145px;
    padding: 0px;
}
.profile_cointainer_box_user--star {
   

    padding: 7px 20px;
    left: 50px;
    background: #ffe3dafb;
    border: 1px solid #ff5722;
    color: #f24320;
    
}
.profile_cointainer_box_user--chat, .profile_cointainer_box_user--star {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 550;
    font-weight: 700;
    position: absolute;
    top: 210px;
    border-radius: 10px;
    cursor: pointer;
}
.profile_cointainer_box_user--chat {
    padding: 7px 30px;
    background-color: #517da9;
    color: white;
    left: 180px;
}
.profile_cointainer_box_user--diachi, .profile_cointainer_box_user--state {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 550;
    font-weight: 700;
    position: absolute;
    left: 60px;
    top: 260px;
    cursor: pointer;
    color: #29354e;
}
.profile_cointainer_box_user--state {
    margin-top: 35px;
    left: 56px;
}
.right {
    margin-left: 5px;
}
.profile_cointainer_box_user--details {
    background-color: #dcedff;
    position: absolute;
    left: 50px;
    width: 260px;
    height: 140px;
    top: 330px;
    padding: 4px 7px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: auto;
    border-radius: 5px;


}
.profile_cointainer_box_user--details::-webkit-scrollbar {
    width: 0px;
}
