/* #bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 200px;
    background-color: #29354e;
} */
#bottom {
    position: relative;
    margin-top: 200px;
    height: 200px;
    background-color: #29354e;
}
.bottom_title {
    color: white;
    z-index: 11;
    width: 500px;
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 20px;
}
.bottom_pic {
        background: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/398298547_861035222099430_8403916923043358465_n.png?_nc_cat=104&ccb=1-7&_nc_sid=510075&_nc_ohc=s3nrFJdX9HYAX9Xg7r2&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQsacl_xHRC-8KTi2mp6kD4LE3ZBTwGHIU-m6fA2nyPDA&oe=656F31E6');
        background-position: center;
        background-size: cover;
        width: 90px;

    height: 90px;
    position: absolute;
    top: 80px;
    left: 50px;

    }